@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}


a:hover {
    color: rgb(228, 188, 79);
}

a.nav-link {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

a.nav-link:hover {
    color: rgb(228, 188, 79);
}

.navbar-dark{
    background-color: #1a1a21;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

nav img {
    width: 10%;
    position:absolute;
    left: 10%;
    margin-top: 15px;
    margin-bottom: 5px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(220, 235, 8);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

/*Area do titulo*/
.homepage {
    height: 20vh;
    display: flex;
    background: #1a1a21;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
    width: 100vw;
}

.titulo {
    max-width: 750px;
}

.titulo h1 {
    font-family: 'Jost', sans-serif;
    font-size: 56px; 
    font-weight: 700;
    color:rgb(228, 188, 79);
    margin-top: 20%;
    line-height: 1.2;
}

.span {
    color: white;
}



/*Area de serviços*/

body {
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #1a1a21;
    height: 100%;
    
}

.fundo {
    background-color: #1a1a21;
    display: flex;
    height:70vh;
}

.container {
    background-color: #1a1a21;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box3, .box4 {
    width: 300px;
    height: 320px;
    margin: 15px;
    padding: 5px;
    color: rgb(228, 188, 79);
    text-align: center;
    transition: .3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background-color: rgb(228, 188, 79);
    color:#1a1a21;
}

h2 {
    letter-spacing: 2px;
    margin: 0 0 .6rem 0;
}

.box1 p, .box2 p, .box3, .box4 p {
    line-height: 1.6;
    font-size: 1.4rem;
    padding: 0 10px;
    margin: 0;
}

.footer {
    position:relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #101014;
}

.footer .social {
    text-align:  center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(228, 188, 79);
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    color: rgb(228, 188, 79);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.footer .social a:hover {
    color: #1a1a21;
}

.footer a:hover {
    color: #1a1a21;
}

.footer a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(228, 188, 79);
    z-index: -1;
    transition: .5s;
}

.footer a:hover::before {
    width: 100%;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color:white;
    font-size: 20px;
   
}

.footer ul li a:hover{
    color: rgb(228, 188, 79);
}

.footer ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer p {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.footer p a {
    color: rgb(228, 188, 79);
}

.services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
}

/*Contaco*/

.contact {
    background-color: #1a1a21;
    color: white;
    text-align: center;
    padding: 5rem 0;
}

.contact span {
    color: rgb(228, 188, 79);
}

.contact h2 {
    margin-bottom:3rem;
    color: rgb(255, 255, 255);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form input, .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box, .contact form textarea {
    width:100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #b3b3c5;
    background-color: #1a1a21;
    border-radius: 0.8rem;
    border: 2px solid rgb(228, 188, 79);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}