@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #1a1a21;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a:hover {
    color: rgb(228, 188, 79);
}

a.nav-link {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

a.nav-link:hover {
    color: rgb(228, 188, 79);
}

.navbar-dark{
    background-color: #1a1a21;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

nav img {
    width: 10%;
    position:absolute;
    left: 10%;
    margin-top: 15px;
    margin-bottom: 5px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(220, 235, 8);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.homepage {
    height: 90vh;
    background: url("imagens/toni.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    width: 100vw; /* Adicione esta linha */
}

.titulo {
    max-width: 750px;
}

.titulo h1 {
    font-family: 'Jost', sans-serif;
    font-size: 56px; 
    font-weight: 700;
    color:rgb(228, 188, 79);
    margin-top: 0;
    line-height: 1.2;
}

.span {
    color: white;
}

.titulo h3 {
    font-family: 'Jost', sans-serif;
    font-size: 32px; 
    color:rgb(228, 188, 79);
    margin-top: 0;
}

.titulo p {
    font-family: 'Jost', sans-serif;
    font-size: 20px; 
    color:white;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    justify-content: space-between;

    width: 345px;
    height: 50px;
   
}

.btn-box a {
    position:relative;
    font-family: 'Jost', sans-serif;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background-color: rgb(228, 188, 79);
    border: 2px solid rgb(228, 188, 79);
    border-radius: 8px;
    font-size: 25px;
    color: #414156;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
}

.btn-box a:hover {
    color: rgb(228, 188, 79);
}

.btn-box a:nth-child(2) {
    background-color: transparent;
    color: rgb(228, 188, 79);
}

.btn-box a:nth-child(2):hover {
    color: #1a1a21;
}

.btn-box a:nth-child(2)::before {
    background-color: rgb(228, 188, 79);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1a1a21;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-sociais {
    position: absolute;
    bottom: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.btn-sociais a {
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(228, 188, 79);
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    color: rgb(228, 188, 79);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}   

.btn-sociais a:hover {
    color: #1a1a21;
}

.btn-sociais a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(228, 188, 79);
    z-index: -1;
    transition: .5s;
}

.btn-sociais a:hover::before {
    width: 100%;
}

footer {
    padding: 20px 0;
    background-color: #1a1a21;
}

footer p {
    color: white;
    margin-bottom: .25rem;
}

footer a {
    color: white;
}
