@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
body {
    background-color: #1a1a21;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    background-color: #1a1a21;
    justify-content: space-between;
    align-items:center;
    margin-right: 150px;
    margin-left: 100px;
}

.navbar a.active {
    color: #44449d;
}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left:100px;
    font-family: 'Jost', sans-serif;
}

.navbar a:hover {
    color: #414156;
}

.right-align img {
    width: 50%;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titulo {
    text-align: left;
    padding: 20px;
    margin-top: 150px;
    padding-left: 0px;
    margin-left: 30px;
}

.titulo h1 {
    font-family: 'Jost', sans-serif;
    font-size: 3em; 
    color:rgb(228, 188, 79);
    margin-top: 0;
}

.span {
    color: white;
}

.titulo h2 {
    font-family: 'Jost', sans-serif;
    font-size: 2em; 
    color:rgb(228, 188, 79);
    margin-top: 0;
}

.titulo p {
    font-family: 'Jost', sans-serif;
    font-size: 1em; 
    color:white;
    margin-top: 0;
}
