@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body, ul, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a21;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    background-color: #2f2f30;
    justify-content: space-between;
    align-items:center;
}

.search-form {
    display:flex;
}

.search-form input {
    background-color: #121216;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 50px;
}

.lupa {
    width: 30px;
    height: 30px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

section {
    margin: 10px;
}

.right-align img {
    width: 50%;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Espaço igual entre os botões */
}

.social-buttons button {
    margin-bottom: 10px;
    background-color: #2f2f30;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: ;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    /* Propriedades adicionadas para tornar os botões circulares */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-buttons button:hover {
    background-color: #4CAF50; /* Altere para a cor desejada ao passar o mouse */
    color: white;
}

.social-buttons button:not(:last-child) {
    margin-right: 10px; /* Adiciona margem à direita de todos os botões, exceto o último */
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.title-container {
    text-align: left;
    padding: 20px;
    margin-top: 150px;
    padding-left: 50px;
}

.title-container h1 {
    font-family: 'Jost', sans-serif;
    font-size: 3em; 
    color:rgb(228, 188, 79);
    margin-top: 0;
}

.title-container p {
    font-family: 'Jost', sans-serif;
    font-size: 2em; 
    color:white;
    margin-top: 0;
}